	<li class="level-1"><a href="http://osdoc.cogsci.nl/3.1/download">Download</a></li>
<li class="dropdown mega-dropdown"><a href="#" class="dropdown-toggle level-2" data-toggle="dropdown">Tutorials&nbsp;<span class="glyphicon glyphicon-menu-down"></span></a>
<ul class="dropdown-menu mega-dropdown-menu row"><li class="col-sm-3"><ul>
		<li class="dropdown-header dropdown-header-level-2">Main</li>
		<li class="level-2"><a href="http://osdoc.cogsci.nl/3.1/tutorials/beginner">Beginner tutorial</a></li>
		<li class="level-2"><a href="http://osdoc.cogsci.nl/3.1/tutorials/intermediate">Intermediate tutorial</a></li>
		<li class="level-2"><a href="http://osdoc.cogsci.nl/3.1/tutorials/advanced">Advanced tutorial</a></li>
		<li class="level-2"><a href="http://osdoc.cogsci.nl/3.1/tutorials/video">Video tutorials</a></li>
</ul></li>
<li class="col-sm-3"><ul>
		<li class="dropdown-header dropdown-header-level-2">Other</li>
		<li class="level-2"><a href="https://www.udemy.com/opensesame-the-experiment-building-software/">Udemy course (by Monk Prayogshala)</a></li>
		<li class="level-2"><a href="http://osdoc.cogsci.nl/3.1/tutorials/aps">APS tutorial</a></li>
		<li class="level-2"><a href="http://osdoc.cogsci.nl/3.1/tutorials/capybara">Cats, dogs, and capybaras</a></li>
</ul></li>
<li class="col-sm-3"><ul>
		<li class="dropdown-header dropdown-header-level-2">Français</li>
		<li class="level-2"><a href="http://osdoc.cogsci.nl/3.1/fr/amorcage-categorique">Amorçage catégorique</a></li>
		<li class="level-2"><a href="http://osdoc.cogsci.nl/3.1/fr/direction-du-regard">Direction du regard</a></li>
</ul></li>
<li class="col-sm-3"><ul>
		<li class="dropdown-header dropdown-header-level-2">Espagnol</li>
		<li class="level-2"><a href="http://osdoc.cogsci.nl/3.1/es/guia-paso-a-paso">Guía paso a paso</a></li>
</ul></li></ul></li>
<li class="dropdown mega-dropdown"><a href="#" class="dropdown-toggle level-2" data-toggle="dropdown">Manual&nbsp;<span class="glyphicon glyphicon-menu-down"></span></a>
<ul class="dropdown-menu mega-dropdown-menu row"><li class="col-sm-3"><ul>
		<li class="dropdown-header dropdown-header-level-2">Basic</li>
		<li class="level-2"><a href="http://osdoc.cogsci.nl/3.1/manual/interface">Using the interface</a></li>
		<li class="level-2"><a href="http://osdoc.cogsci.nl/3.1/manual/variables">Variables and if statements</a></li>
		<li class="level-2"><a href="http://osdoc.cogsci.nl/3.1/manual/logging">Data logging</a></li>
		<li class="level-2"><a href="http://osdoc.cogsci.nl/3.1/manual/examples">Examples</a></li>
			<li class="dropdown-header dropdown-header-level-3">Flow and structure</li>
			<li class="level-3"><a href="http://osdoc.cogsci.nl/3.1/manual/structure/loop">Looping and defining indepedent variables</a></li>
			<li class="level-3"><a href="http://osdoc.cogsci.nl/3.1/manual/structure/sequence">Doing things in sequence</a></li>
			<li class="level-3"><a href="http://osdoc.cogsci.nl/3.1/manual/structure/coroutines">Doing things in parallel</a></li>
			<li class="dropdown-header dropdown-header-level-3">Response collection</li>
			<li class="level-3"><a href="http://osdoc.cogsci.nl/3.1/manual/response/keyboard">Keyboard</a></li>
			<li class="level-3"><a href="http://osdoc.cogsci.nl/3.1/manual/response/mouse">Mouse</a></li>
			<li class="level-3"><a href="http://osdoc.cogsci.nl/3.1/manual/response/joystick">Joystick</a></li>
			<li class="level-3"><a href="http://osdoc.cogsci.nl/3.1/manual/response/buttonbox">Button box</a></li>
			<li class="level-3"><a href="http://osdoc.cogsci.nl/3.1/manual/response/srbox">SR Box</a></li>
			<li class="level-3"><a href="http://osdoc.cogsci.nl/3.1/manual/response/soundrecording">Sound recording</a></li>
			<li class="dropdown-header dropdown-header-level-3">Stimulus presentation</li>
			<li class="level-3"><a href="http://osdoc.cogsci.nl/3.1/manual/stimuli/text">Text</a></li>
			<li class="level-3"><a href="http://osdoc.cogsci.nl/3.1/manual/stimuli/visual">Visual stimuli</a></li>
			<li class="level-3"><a href="http://osdoc.cogsci.nl/3.1/manual/stimuli/sound">Sound</a></li>
			<li class="level-3"><a href="http://osdoc.cogsci.nl/3.1/manual/stimuli/video">Video</a></li>
</ul></li>
<li class="col-sm-3"><ul>
		<li class="dropdown-header dropdown-header-level-2">Forms</li>
		<li class="level-2"><a href="http://osdoc.cogsci.nl/3.1/manual/forms/about">Forms in OpenSesame</a></li>
		<li class="level-2"><a href="http://osdoc.cogsci.nl/3.1/manual/forms/readymade">Ready-made forms</a></li>
		<li class="level-2"><a href="http://osdoc.cogsci.nl/3.1/manual/forms/custom">Custom forms</a></li>
		<li class="level-2"><a href="http://osdoc.cogsci.nl/3.1/manual/forms/variables">Form variables</a></li>
		<li class="level-2"><a href="http://osdoc.cogsci.nl/3.1/manual/forms/performance">Slow performance</a></li>
			<li class="dropdown-header dropdown-header-level-3">Widgets</li>
			<li class="level-3"><a href="http://osdoc.cogsci.nl/3.1/manual/forms/widgets/form">form</a></li>
			<li class="level-3"><a href="http://osdoc.cogsci.nl/3.1/manual/forms/widgets/button">button</a></li>
			<li class="level-3"><a href="http://osdoc.cogsci.nl/3.1/manual/forms/widgets/checkbox">checkbox</a></li>
			<li class="level-3"><a href="http://osdoc.cogsci.nl/3.1/manual/forms/widgets/image">image</a></li>
			<li class="level-3"><a href="http://osdoc.cogsci.nl/3.1/manual/forms/widgets/image_button">image_button</a></li>
			<li class="level-3"><a href="http://osdoc.cogsci.nl/3.1/manual/forms/widgets/label">label</a></li>
			<li class="level-3"><a href="http://osdoc.cogsci.nl/3.1/manual/forms/widgets/rating_scale">rating_scale</a></li>
			<li class="level-3"><a href="http://osdoc.cogsci.nl/3.1/manual/forms/widgets/text_input">text_input</a></li>
</ul></li>
<li class="col-sm-3"><ul>
		<li class="dropdown-header dropdown-header-level-2">Python</li>
		<li class="level-2"><a href="http://osdoc.cogsci.nl/3.1/manual/python/about">Python in OpenSesame</a></li>
			<li class="dropdown-header dropdown-header-level-3">API reference</li>
			<li class="level-3"><a href="http://osdoc.cogsci.nl/3.1/manual/python/common">Common functions</a></li>
			<li class="level-3"><a href="http://osdoc.cogsci.nl/3.1/manual/python/var">Variables</a></li>
			<li class="level-3"><a href="http://osdoc.cogsci.nl/3.1/manual/python/pool">File pool</a></li>
			<li class="level-3"><a href="http://osdoc.cogsci.nl/3.1/manual/python/items">Items</a></li>
			<li class="level-3"><a href="http://osdoc.cogsci.nl/3.1/manual/python/responses">Response history</a></li>
			<li class="level-3"><a href="http://osdoc.cogsci.nl/3.1/manual/python/clock">Clock</a></li>
			<li class="level-3"><a href="http://osdoc.cogsci.nl/3.1/manual/python/canvas">Canvas</a></li>
			<li class="level-3"><a href="http://osdoc.cogsci.nl/3.1/manual/python/keyboard">Keyboard</a></li>
			<li class="level-3"><a href="http://osdoc.cogsci.nl/3.1/manual/python/log">Log</a></li>
			<li class="level-3"><a href="http://osdoc.cogsci.nl/3.1/manual/python/mouse">Mouse</a></li>
			<li class="level-3"><a href="http://osdoc.cogsci.nl/3.1/manual/python/sampler">Sampler</a></li>
		<li class="dropdown-header dropdown-header-level-2">Eye tracking</li>
		<li class="level-2"><a href="http://osdoc.cogsci.nl/3.1/manual/eyetracking/pygaze">PyGaze</a></li>
			<li class="dropdown-header dropdown-header-level-3">Models</li>
			<li class="level-3"><a href="http://osdoc.cogsci.nl/3.1/manual/eyetracking/eyelink">EyeLink</a></li>
			<li class="level-3"><a href="http://osdoc.cogsci.nl/3.1/manual/eyetracking/eyetribe">EyeTribe</a></li>
			<li class="level-3"><a href="http://osdoc.cogsci.nl/3.1/manual/eyetracking/smi">SMI</a></li>
			<li class="level-3"><a href="http://osdoc.cogsci.nl/3.1/manual/eyetracking/tobii">Tobii</a></li>
</ul></li>
<li class="col-sm-3"><ul>
		<li class="dropdown-header dropdown-header-level-2">Advanced</li>
		<li class="level-2"><a href="http://osdoc.cogsci.nl/3.1/manual/prepare-run">The prepare-run strategy</a></li>
		<li class="level-2"><a href="http://osdoc.cogsci.nl/3.1/manual/counterbalancing">Counterbalancing</a></li>
		<li class="level-2"><a href="http://osdoc.cogsci.nl/3.1/manual/osf">OSF Integration</a></li>
		<li class="level-2"><a href="http://osdoc.cogsci.nl/3.1/manual/timing">Timing</a></li>
		<li class="level-2"><a href="http://osdoc.cogsci.nl/3.1/manual/backends">Backends</a></li>
		<li class="level-2"><a href="http://osdoc.cogsci.nl/3.1/manual/android">Running on Android</a></li>
		<li class="level-2"><a href="http://osdoc.cogsci.nl/3.1/manual/opensesame-script">OpenSesame script</a></li>
		<li class="level-2"><a href="http://osdoc.cogsci.nl/3.1/manual/environment">Installing packages, plugins, and extensions</a></li>
		<li class="dropdown-header dropdown-header-level-2">Devices</li>
		<li class="level-2"><a href="http://osdoc.cogsci.nl/3.1/manual/mousetracking">Mouse tracking</a></li>
		<li class="level-2"><a href="http://osdoc.cogsci.nl/3.1/manual/devices/vuams">Ambulatory Monitoring System (VU-AMS)</a></li>
		<li class="level-2"><a href="http://osdoc.cogsci.nl/3.1/manual/devices/emotiv">Emotiv EEG</a></li>
		<li class="level-2"><a href="http://osdoc.cogsci.nl/3.1/manual/devices/oculusrift">Oculus rift</a></li>
		<li class="level-2"><a href="http://osdoc.cogsci.nl/3.1/manual/devices/serial">Serial port</a></li>
		<li class="level-2"><a href="http://osdoc.cogsci.nl/3.1/manual/devices/parallel">Parallel port (EEG triggers)</a></li>
		<li class="level-2"><a href="http://osdoc.cogsci.nl/3.1/manual/devices/stimsync">StimSync</a></li>
</ul></li></ul></li>
<li class="dropdown mega-dropdown"><a href="#" class="dropdown-toggle level-2" data-toggle="dropdown">Other&nbsp;<span class="glyphicon glyphicon-menu-down"></span></a>
<ul class="dropdown-menu mega-dropdown-menu row"><li class="col-sm-3"><ul>
		<li class="dropdown-header dropdown-header-level-2">Other</li>
		<li class="level-2"><a href="http://osdoc.cogsci.nl/3.1/publications">Publications</a></li>
		<li class="level-2"><a href="http://osdoc.cogsci.nl/3.1/team">Meet the team!</a></li>
		<li class="level-2"><a href="http://osdoc.cogsci.nl/3.1/donate">Donate</a></li>
		<li class="level-2"><a href="http://osdoc.cogsci.nl/3.1/important-changes-3">Important changes in OpenSesame 3</a></li>
		<li class="level-2"><a href="http://osdoc.cogsci.nl/3.1/visualangle">Degrees of visual angle</a></li>
		<li class="level-2"><a href="http://osdoc.cogsci.nl/3.1/experimentaldesign">Notation for experimental design</a></li>
		<li class="level-2"><a href="http://osdoc.cogsci.nl/3.1/notes/notes">Release notes</a></li>
</ul></li>
<li class="col-sm-3"><ul>
		<li class="dropdown-header dropdown-header-level-2">Development</li>
		<li class="level-2"><a href="http://osdoc.cogsci.nl/3.1/dev/howtocontribute">How to contribute</a></li>
		<li class="level-2"><a href="http://osdoc.cogsci.nl/3.1/dev/fromsource">Running from source</a></li>
		<li class="level-2"><a href="http://osdoc.cogsci.nl/3.1/dev/fileformat">File format (.osexp)</a></li>
		<li class="level-2"><a href="http://osdoc.cogsci.nl/3.1/dev/translate">Translate</a></li>
		<li class="level-2"><a href="http://osdoc.cogsci.nl/3.1/dev/plugin">Create a plugin</a></li>
		<li class="level-2"><a href="http://osdoc.cogsci.nl/3.1/dev/extension">Create an extension</a></li>
</ul></li></ul></li>
	<li class="level-1"><a href="http://forum.cogsci.nl/">Forum</a></li>
	<li class="level-1"><a href="http://www.cogsci.nl/">Blog</a></li>
<li class="dropdown mega-dropdown"><a href="#" class="dropdown-toggle level-2" data-toggle="dropdown">v3.1&nbsp;<span class="glyphicon glyphicon-menu-down"></span></a>
<ul class="dropdown-menu mega-dropdown-menu row"><li class="col-sm-3"><ul>
		<li class="level-2"><a href="http://osdoc.cogsci.nl/3.1/">v3.1</a></li>
		<li class="level-2"><a href="http://osdoc.cogsci.nl/3.0/">v3.0</a></li>
		<li class="level-2"><a href="http://osdoc.cogsci.nl/2.9/">v2.9</a></li>
		<li class="level-2"><a href="http://osdoc.cogsci.nl/2.8/">v2.8</a></li>
</ul></li></ul></li>