	<li class="level-1"><a href="https://osdoc.cogsci.nl/4.0/fr/download">Téléchargement</a></li>
<li class="dropdown mega-dropdown"><a href="#" class="dropdown-toggle level-2" data-toggle="dropdown">Tutoriels&nbsp;<span class="glyphicon glyphicon-menu-down"></span></a>
<ul class="dropdown-menu mega-dropdown-menu row"><li class="col-sm-3"><ul>
		<li class="dropdown-header dropdown-header-level-2">Principal</li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/tutorials/beginner">Débutant</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/tutorials/intermediate">Intermédiaire (Python)</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/tutorials/intermediate-javascript">Intermédiaire (JavaScript)</a></li>
</ul></li>
<li class="col-sm-3"><ul>
		<li class="dropdown-header dropdown-header-level-2">Autre</li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/tutorials/iat">Tâche d'association implicite (IAT)</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/tutorials/capybara">Chats, chiens et capybaras</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/tutorials/visual-world">Paradigme du monde visuel</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/tutorials/wcst">Test de classement de cartes du Wisconsin (JavaScript)</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/tutorials/wcst-python">Test de classement de cartes du Wisconsin (Python)</a></li>
</ul></li></ul></li>
<li class="dropdown mega-dropdown"><a href="#" class="dropdown-toggle level-2" data-toggle="dropdown">Manuel&nbsp;<span class="glyphicon glyphicon-menu-down"></span></a>
<ul class="dropdown-menu mega-dropdown-menu row"><li class="col-sm-3"><ul>
		<li class="dropdown-header dropdown-header-level-2">Basique</li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/interface">Utilisation de l'interface</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/variables">Variables et instructions conditionnelles</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/logging">Enregistrement des données</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/examples">Exemples</a></li>
			<li class="dropdown-header dropdown-header-level-3">Flux et structure</li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/structure/loop">Bouclage et définition des variables indépendantes</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/structure/sequence">Faire les choses en séquence</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/structure/coroutines">Faire les choses en parallèle</a></li>
			<li class="dropdown-header dropdown-header-level-3">Collecte de réponses</li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/response/keyboard">Clavier</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/response/mouse">Souris</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/response/joystick">Joystick</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/response/buttonbox">Boîte de boutons</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/response/srbox">SR Box</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/response/soundrecording">Enregistrement du son</a></li>
			<li class="dropdown-header dropdown-header-level-3">Présentation des stimuli</li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/stimuli/text">Texte</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/stimuli/visual">Stimuli visuels</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/stimuli/sound">Son</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/stimuli/video">Vidéo</a></li>
</ul></li>
<li class="col-sm-3"><ul>
		<li class="dropdown-header dropdown-header-level-2">Expériences en ligne</li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/osweb/workflow">Flux de travail</a></li>
			<li class="dropdown-header dropdown-header-level-3">Développement</li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/osweb/osweb">OSWeb</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/osweb/jatos">JATOS</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/osweb/data">Données</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/osweb/questionnaires">Questionnaires</a></li>
			<li class="dropdown-header dropdown-header-level-3">Recrutement de participants</li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/osweb/prolific">Prolific</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/osweb/mturk">Mechanical Turk</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/osweb/sonasystems">Sona Systems</a></li>
		<li class="dropdown-header dropdown-header-level-2">JavaScript</li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/javascript/about">JavaScript dans OpenSesame</a></li>
			<li class="dropdown-header dropdown-header-level-3">Fonctions JavaScript</li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/javascript/common">Fonctions courantes</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/javascript/canvas">Toile (Canvas)</a></li>
		<li class="dropdown-header dropdown-header-level-2">Formulaires</li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/forms/about">Formulaires dans OpenSesame</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/forms/readymade">Formulaires prêts à l'emploi</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/forms/variables">Variables de formulaire</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/forms/custom">Formulaires personnalisés</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/forms/widgets">Widgets et mots-clés</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/forms/validation">Validation des entrées de formulaire</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/forms/html">Formulaires HTML personnalisés</a></li>
</ul></li>
<li class="col-sm-3"><ul>
		<li class="dropdown-header dropdown-header-level-2">Python</li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/python/about">Python dans l'interface graphique OpenSesame</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/python/nogui">Module Python OpenSesame (sans interface graphique)</a></li>
			<li class="dropdown-header dropdown-header-level-3">Fonctions Python</li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/python/common">Fonctions courantes</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/python/var">Variables</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/python/pool">Pool de fichiers</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/python/items">Items</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/python/responses">Historique des réponses</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/python/clock">Horloge (clock)</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/python/canvas">Toile (Canvas)</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/python/keyboard">Clavier (Keyboard)</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/python/log">Journal (log)</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/python/mouse">Souris (Mouse)</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/python/sampler">Echantillonneur (Sampler)</a></li>
		<li class="dropdown-header dropdown-header-level-2">Suivi des yeux</li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/eyetracking/pygaze">PyGaze</a></li>
			<li class="dropdown-header dropdown-header-level-3">Modèles</li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/eyetracking/eyelink">EyeLink</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/eyetracking/eyelogic">EyeLogic</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/eyetracking/eyetribe">EyeTribe</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/eyetracking/gazepoint">GazePoint / OpenGaze</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/eyetracking/smi">SMI</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/eyetracking/tobii">Tobii</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/eyetracking/webgazer">WebGazer.js (en ligne)</a></li>
</ul></li>
<li class="col-sm-3"><ul>
		<li class="dropdown-header dropdown-header-level-2">Avancé</li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/prepare-run">La stratégie de préparation-exécution</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/counterbalancing">Contrebalancement</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/timing">Chronométrage</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/backends">Moteurs</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/opensesame-script">Script OpenSesame</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/opensesamerun">OpenSesameRun (sans interface graphique)</a></li>
		<li class="level-2"><a href="https://rapunzel.cogsci.nl/manual/environment/">Installation de paquets, plugins et extensions</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/runners">Lanceurs</a></li>
		<li class="dropdown-header dropdown-header-level-2">Appareils</li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/mousetracking">Suivi de la souris</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/devices/vuams">Système de surveillance ambulatoire (VU-AMS)</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/devices/emotiv">EEG Emotiv</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/devices/oculusrift">Oculus rift</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/devices/serial">Port série</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/devices/parallel">Port parallèle (déclencheurs EEG)</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/devices/stimsync">StimSync</a></li>
</ul></li></ul></li>
<li class="dropdown mega-dropdown"><a href="#" class="dropdown-toggle level-2" data-toggle="dropdown">Éléments&nbsp;<span class="glyphicon glyphicon-menu-down"></span></a>
<ul class="dropdown-menu mega-dropdown-menu row"><li class="col-sm-3"><ul>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/items/advanced_delay">advanced delay</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/structure/coroutines">coroutines</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/stimuli/visual">feedback</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/forms/custom">form_base</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/forms/readymade">form_consent</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/forms/readymade">form_multiple_choice</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/forms/readymade">form_text_display</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/forms/readymade">form_text_input</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/forms/html">inline_html</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/javascript/about">inline_javascript</a></li>
</ul></li>
<li class="col-sm-3"><ul>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/python/about">inline_script</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/response/joystick">joystick</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/response/keyboard">keyboard response</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/logging">logger</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/structure/loop">loop</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/response/mouse">mouse response</a></li>
		<li class="level-2"><a href="https://github.com/open-cogsci/opensesame-plugin-psychopy">psychopy_text_stim</a></li>
		<li class="level-2"><a href="https://github.com/open-cogsci/opensesame-plugin-psychopy">psychopy_grating_stim</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/eyetracking/pygaze">pygaze_drift_correct</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/eyetracking/pygaze">pygaze_init</a></li>
</ul></li>
<li class="col-sm-3"><ul>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/eyetracking/pygaze">pygaze_log</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/eyetracking/pygaze">pygaze_start_recording</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/eyetracking/pygaze">pygaze_stop_recording</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/eyetracking/pygaze">pygaze_wait</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/items/quest_staircase_init">quest_staircase_init</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/items/quest_staircase_next">quest_staircase_next</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/items/repeat_cycle">repeat_cycle</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/items/reset_feedback">reset_feedback</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/stimuli/sound">sampler</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/structure/sequence">sequence</a></li>
</ul></li>
<li class="col-sm-3"><ul>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/stimuli/visual">sketchpad</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/response/srbox">srbox</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/manual/stimuli/sound">synth</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/items/touch_response">touch_response</a></li>
</ul></li></ul></li>
<li class="dropdown mega-dropdown"><a href="#" class="dropdown-toggle level-2" data-toggle="dropdown">Autre&nbsp;<span class="glyphicon glyphicon-menu-down"></span></a>
<ul class="dropdown-menu mega-dropdown-menu row"><li class="col-sm-3"><ul>
		<li class="dropdown-header dropdown-header-level-2">Autre</li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/donate">Faire un don</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/visualangle">Degrés d'angle visuel</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/experimentaldesign">Notation pour la conception expérimentale</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/notes/notes">Notes de version</a></li>
</ul></li>
<li class="col-sm-3"><ul>
		<li class="dropdown-header dropdown-header-level-2">Développement</li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/dev/fileformat">Format de fichier (.osexp)</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/dev/translate">Traduire</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/dev/plugin">Créer un plugin</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr/dev/extension">Créer une extension</a></li>
</ul></li></ul></li>
	<li class="level-1"><a href="https://professional.cogsci.nl/">Support</a></li>
<li class="dropdown mega-dropdown"><a href="#" class="dropdown-toggle level-2" data-toggle="dropdown">v4.0&nbsp;<span class="glyphicon glyphicon-menu-down"></span></a>
<ul class="dropdown-menu mega-dropdown-menu row"><li class="col-sm-3"><ul>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr">v4.0</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/3.3">v3.3</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/3.2">v3.2</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/3.1">v3.1</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/3.0">v3.0</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/2.9">v2.9</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/2.8">v2.8</a></li>
</ul></li></ul></li>
<li class="dropdown mega-dropdown"><a href="#" class="dropdown-toggle level-2" data-toggle="dropdown">&#x1F1EB;&#x1F1F7; Français&nbsp;<span class="glyphicon glyphicon-menu-down"></span></a>
<ul class="dropdown-menu mega-dropdown-menu row"><li class="col-sm-3"><ul>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/">&#x1F1EC;&#x1F1E7; English</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr">&#x1F1EB;&#x1F1F7; Français</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/zh">&#x1F1E8;&#x1F1F3; 简体中文</a></li>
</ul></li></ul></li>