	<li class="level-1"><a href="https://osdoc.cogsci.nl/4.0/download">Download</a></li>
<li class="dropdown mega-dropdown"><a href="#" class="dropdown-toggle level-2" data-toggle="dropdown">Tutorials&nbsp;<span class="glyphicon glyphicon-menu-down"></span></a>
<ul class="dropdown-menu mega-dropdown-menu row"><li class="col-sm-3"><ul>
		<li class="dropdown-header dropdown-header-level-2">Main</li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/tutorials/beginner">Beginner</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/tutorials/intermediate">Intermediate (Python)</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/tutorials/intermediate-javascript">Intermediate (JavaScript)</a></li>
</ul></li>
<li class="col-sm-3"><ul>
		<li class="dropdown-header dropdown-header-level-2">Other</li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0//tutorials/iat">Implicit association task (IAT)</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0//tutorials/capybara">Cats, dogs, and capybaras</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/tutorials/visual-world">Visual-world paradigm</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/tutorials/wcst">Wisconsin Card Sorting Test (JavaScript)</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/tutorials/wcst-python">Wisconsin Card Sorting Test (Python)</a></li>
</ul></li></ul></li>
<li class="dropdown mega-dropdown"><a href="#" class="dropdown-toggle level-2" data-toggle="dropdown">Manual&nbsp;<span class="glyphicon glyphicon-menu-down"></span></a>
<ul class="dropdown-menu mega-dropdown-menu row"><li class="col-sm-3"><ul>
		<li class="dropdown-header dropdown-header-level-2">Basic</li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/manual/interface">Using the interface</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/manual/variables">Variables and if statements</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/manual/logging">Data logging</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/manual/examples">Examples</a></li>
			<li class="dropdown-header dropdown-header-level-3">Flow and structure</li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/manual/structure/loop">Looping and defining indepedent variables</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/manual/structure/sequence">Doing things in sequence</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/manual/structure/coroutines">Doing things in parallel</a></li>
			<li class="dropdown-header dropdown-header-level-3">Response collection</li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/manual/response/keyboard">Keyboard</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/manual/response/mouse">Mouse</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/manual/response/joystick">Joystick</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/manual/response/buttonbox">Button box</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/manual/response/srbox">SR Box</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/manual/response/soundrecording">Sound recording</a></li>
			<li class="dropdown-header dropdown-header-level-3">Stimulus presentation</li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/manual/stimuli/text">Text</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/manual/stimuli/visual">Visual stimuli</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/manual/stimuli/sound">Sound</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/manual/stimuli/video">Video</a></li>
</ul></li>
<li class="col-sm-3"><ul>
		<li class="dropdown-header dropdown-header-level-2">Online experiments</li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/manual/osweb/workflow">Workflow</a></li>
			<li class="dropdown-header dropdown-header-level-3">Development</li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/manual/osweb/osweb">OSWeb</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/manual/osweb/jatos">JATOS</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/manual/osweb/data">Data</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/manual/osweb/questionnaires">Questionnaires</a></li>
			<li class="dropdown-header dropdown-header-level-3">Recruiting participants</li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/manual/osweb/prolific">Prolific</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/manual/osweb/mturk">Mechanical Turk</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/manual/osweb/sonasystems">Sona Systems</a></li>
		<li class="dropdown-header dropdown-header-level-2">JavaScript</li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/manual/javascript/about">JavaScript in OpenSesame</a></li>
			<li class="dropdown-header dropdown-header-level-3">JavaScript functions</li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/manual/javascript/common">Common functions</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/manual/javascript/canvas">Canvas</a></li>
		<li class="dropdown-header dropdown-header-level-2">Forms</li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/manual/forms/about">Forms in OpenSesame</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/manual/forms/readymade">Ready-made forms</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/manual/forms/variables">Form variables</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/manual/forms/custom">Custom forms</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/manual/forms/widgets">Widgets and keywords</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/manual/forms/validation">Validating form input</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/manual/forms/html">Custom HTML forms</a></li>
</ul></li>
<li class="col-sm-3"><ul>
		<li class="dropdown-header dropdown-header-level-2">Python</li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/manual/python/about">Python in the OpenSesame GUI</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/manual/python/nogui">OpenSesame Python module (no GUI)</a></li>
			<li class="dropdown-header dropdown-header-level-3">Python functions</li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/manual/python/common">Common functions</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/manual/python/var">Variables</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/manual/python/pool">File pool</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/manual/python/items">Items</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/manual/python/responses">Response history</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/manual/python/clock">Clock</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/manual/python/canvas">Canvas</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/manual/python/keyboard">Keyboard</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/manual/python/log">Log</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/manual/python/mouse">Mouse</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/manual/python/sampler">Sampler</a></li>
		<li class="dropdown-header dropdown-header-level-2">Eye tracking</li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/manual/eyetracking/pygaze">PyGaze</a></li>
			<li class="dropdown-header dropdown-header-level-3">Models</li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/manual/eyetracking/eyelink">EyeLink</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/manual/eyetracking/eyelogic">EyeLogic</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/manual/eyetracking/eyetribe">EyeTribe</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/manual/eyetracking/gazepoint">GazePoint / OpenGaze</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/manual/eyetracking/smi">SMI</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/manual/eyetracking/tobii">Tobii</a></li>
			<li class="level-3"><a href="https://osdoc.cogsci.nl/4.0/manual/eyetracking/webgazer">WebGazer.js (online)</a></li>
</ul></li>
<li class="col-sm-3"><ul>
		<li class="dropdown-header dropdown-header-level-2">Advanced</li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/manual/prepare-run">The prepare-run strategy</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/manual/counterbalancing">Counterbalancing</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/manual/timing">Timing</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/manual/backends">Backends</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/manual/opensesame-script">OpenSesame script</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/manual/opensesamerun">OpenSesameRun (no GUI)</a></li>
		<li class="level-2"><a href="https://rapunzel.cogsci.nl/manual/environment/">Installing packages, plugins, and extensions</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/manual/runners">Runners</a></li>
		<li class="dropdown-header dropdown-header-level-2">Devices</li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/manual/mousetracking">Mouse tracking</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/manual/devices/vuams">Ambulatory Monitoring System (VU-AMS)</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/manual/devices/emotiv">Emotiv EEG</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/manual/devices/oculusrift">Oculus rift</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/manual/devices/serial">Serial port</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/manual/devices/parallel">Parallel port (EEG triggers)</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/manual/devices/stimsync">StimSync</a></li>
</ul></li></ul></li>
<li class="dropdown mega-dropdown"><a href="#" class="dropdown-toggle level-2" data-toggle="dropdown">Items&nbsp;<span class="glyphicon glyphicon-menu-down"></span></a>
<ul class="dropdown-menu mega-dropdown-menu row"><li class="col-sm-3"><ul>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/items/advanced_delay">advanced delay</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/manual/structure/coroutines">coroutines</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/manual/stimuli/visual">feedback</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/manual/forms/custom">form_base</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/manual/forms/readymade">form_consent</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/manual/forms/readymade">form_multiple_choice</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/manual/forms/readymade">form_text_display</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/manual/forms/readymade">form_text_input</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/manual/forms/html">inline_html</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/manual/javascript/about">inline_javascript</a></li>
</ul></li>
<li class="col-sm-3"><ul>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/manual/python/about">inline_script</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/manual/response/joystick">joystick</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/manual/response/keyboard">keyboard response</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/manual/logging">logger</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/manual/structure/loop">loop</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/manual/response/mouse">mouse response</a></li>
		<li class="level-2"><a href="https://github.com/open-cogsci/opensesame-plugin-psychopy">psychopy_text_stim</a></li>
		<li class="level-2"><a href="https://github.com/open-cogsci/opensesame-plugin-psychopy">psychopy_grating_stim</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/manual/eyetracking/pygaze">pygaze_drift_correct</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/manual/eyetracking/pygaze">pygaze_init</a></li>
</ul></li>
<li class="col-sm-3"><ul>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/manual/eyetracking/pygaze">pygaze_log</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/manual/eyetracking/pygaze">pygaze_start_recording</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/manual/eyetracking/pygaze">pygaze_stop_recording</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/manual/eyetracking/pygaze">pygaze_wait</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/items/quest_staircase_init">quest_staircase_init</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/items/quest_staircase_next">quest_staircase_next</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/items/repeat_cycle">repeat_cycle</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/items/reset_feedback">reset_feedback</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/manual/stimuli/sound">sampler</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/manual/structure/sequence">sequence</a></li>
</ul></li>
<li class="col-sm-3"><ul>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/manual/stimuli/visual">sketchpad</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/manual/response/srbox">srbox</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/manual/stimuli/sound">synth</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/items/touch_response">touch_response</a></li>
</ul></li></ul></li>
<li class="dropdown mega-dropdown"><a href="#" class="dropdown-toggle level-2" data-toggle="dropdown">Other&nbsp;<span class="glyphicon glyphicon-menu-down"></span></a>
<ul class="dropdown-menu mega-dropdown-menu row"><li class="col-sm-3"><ul>
		<li class="dropdown-header dropdown-header-level-2">Other</li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/donate">Donate</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/visualangle">Degrees of visual angle</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/experimentaldesign">Notation for experimental design</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/notes/notes">Release notes</a></li>
</ul></li>
<li class="col-sm-3"><ul>
		<li class="dropdown-header dropdown-header-level-2">Development</li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/dev/fileformat">File format (.osexp)</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/dev/translate">Translate</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/dev/plugin">Create a plugin</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/dev/extension">Create an extension</a></li>
</ul></li></ul></li>
	<li class="level-1"><a href="https://professional.cogsci.nl/">Support</a></li>
<li class="dropdown mega-dropdown"><a href="#" class="dropdown-toggle level-2" data-toggle="dropdown">v4.0&nbsp;<span class="glyphicon glyphicon-menu-down"></span></a>
<ul class="dropdown-menu mega-dropdown-menu row"><li class="col-sm-3"><ul>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/">v4.0</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/3.3/">v3.3</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/3.2/">v3.2</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/3.1/">v3.1</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/3.0/">v3.0</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/2.9/">v2.9</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/2.8/">v2.8</a></li>
</ul></li></ul></li>
<li class="dropdown mega-dropdown"><a href="#" class="dropdown-toggle level-2" data-toggle="dropdown">&#x1F1EC;&#x1F1E7; English&nbsp;<span class="glyphicon glyphicon-menu-down"></span></a>
<ul class="dropdown-menu mega-dropdown-menu row"><li class="col-sm-3"><ul>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/de">&#x1F1E9;&#x1F1EA; Deutsch</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/">&#x1F1EC;&#x1F1E7; English</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/es">&#x1F1EA;&#x1F1F8; Español</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/fr">&#x1F1EB;&#x1F1F7; Français</a></li>
		<li class="level-2"><a href="https://osdoc.cogsci.nl/4.0/zh">&#x1F1E8;&#x1F1F3; 简体中文</a></li>
</ul></li></ul></li>