<div class="navbar navbar-default cogsci-navbar" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{ SITEURL }}/"><img src='{{ SITEURL }}/theme/img/osdoc.png' /></a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				{% include 'menu-content.html' %}
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li><a href="http://forum.cogsci.nl/">Forum</a></li>
				<li><a href="http://www.cogsci.nl/">Blog</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">v3.1<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="http://osdoc.cogsci.nl/3.1/">3.1 (unstable)</a></li>
						<li><a href="http://osdoc.cogsci.nl/3.0/">3.0 (current)</a></li>
						<li><a href="http://osdoc.cogsci.nl/2.9/">2.9 (old)</a></li>
						<li><a href="http://osdoc.cogsci.nl/2.8/">2.8 (old)</a></li>
					</ul>
				</li>
			</ul>

		</div>
	</div>
</div>
