<li><a href="http://localhost:8000/3.1/download.html">Download</a></li>
<li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Tutorials<b class="caret"></b></a>
<ul class="dropdown-menu">
<li class="cogsci-menuitem-header">Main</li>
<li><a href="http://localhost:8000/3.1/tutorials/beginner.html">Beginner tutorial</a></li>
<li><a href="http://localhost:8000/3.1/tutorials/intermediate.html">Intermediate tutorial</a></li>
<li><a href="http://localhost:8000/3.1/tutorials/advanced.html">Advanced tutorial</a></li>
<li><a href="http://localhost:8000/3.1/tutorials/video.html">Video tutorials</a></li>
<li><hr /></li>
<li class="cogsci-menuitem-header">Other</li>
<li><a href="https://www.udemy.com/opensesame-the-experiment-building-software/">Udemy course (by Monk Prayogshala)</a></li>
<li><a href="http://localhost:8000/3.1/tutorials/aps.html">APS tutorial</a></li>
<li><a href="http://localhost:8000/3.1/tutorials/capybara.html">Cats, dogs, and capybaras</a></li>
<li><hr /></li>
<li class="cogsci-menuitem-header">Français</li>
<li><a href="http://localhost:8000/3.1/fr/amorcage-categorique.html">Amorçage catégorique</a></li>
<li><a href="http://localhost:8000/3.1/fr/direction-du-regard.html">Direction du regard</a></li>
<li><hr /></li>
<li class="cogsci-menuitem-header">Espagnol</li>
<li><a href="http://localhost:8000/3.1/es/guia-paso-a-paso.html">Guía paso a paso</a></li>
</ul></li>
<li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Manual<b class="caret"></b></a>
<ul class="dropdown-menu">
<li class="cogsci-menuitem-header">Basic</li>
<li><a href="http://localhost:8000/3.1/manual/interface.html">Using the interface</a></li>
<li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Flow and structure<b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="http://localhost:8000/3.1/manual/structure/loop.html">Looping and defining indepedent variables</a></li>
<li><a href="http://localhost:8000/3.1/manual/structure/sequence.html">Doing things in sequence</a></li>
<li><a href="http://localhost:8000/3.1/manual/structure/coroutines.html">Doing things in parallel</a></li>
</ul></li>
<li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Stimulus presentation<b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="http://localhost:8000/3.1/manual/stimuli/text.html">Text</a></li>
<li><a href="http://localhost:8000/3.1/manual/stimuli/visual.html">Visual stimuli</a></li>
<li><a href="http://localhost:8000/3.1/manual/stimuli/sound.html">Sound</a></li>
<li><a href="http://localhost:8000/3.1/manual/stimuli/video.html">Video</a></li>
</ul></li>
<li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Response collection<b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="http://localhost:8000/3.1/manual/response/keyboard.html">Keyboard</a></li>
<li><a href="http://localhost:8000/3.1/manual/response/mouse.html">Mouse</a></li>
<li><a href="http://localhost:8000/3.1/manual/response/joystick.html">Joystick</a></li>
<li><a href="http://localhost:8000/3.1/manual/response/buttonbox.html">Button box</a></li>
<li><a href="http://localhost:8000/3.1/manual/response/srbox.html">SR Box</a></li>
<li><a href="http://localhost:8000/3.1/manual/response/soundrecording.html">Sound recording</a></li>
</ul></li>
<li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Forms<b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="http://localhost:8000/3.1/manual/forms/about.html">About forms</a></li>
<li><a href="http://localhost:8000/3.1/manual/forms/readymade.html">Ready-made forms</a></li>
<li><a href="http://localhost:8000/3.1/manual/forms/custom.html">Custom forms</a></li>
<li><a href="http://localhost:8000/3.1/manual/forms/variables.html">Form variables</a></li>
<li><a href="http://localhost:8000/3.1/manual/forms/performance.html">Performance issues</a></li>
<li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Widgets<b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="http://localhost:8000/3.1/manual/forms/widgets/form.html">form</a></li>
<li><hr /></li>
<li><a href="http://localhost:8000/3.1/manual/forms/widgets/button.html">button</a></li>
<li><a href="http://localhost:8000/3.1/manual/forms/widgets/checkbox.html">checkbox</a></li>
<li><a href="http://localhost:8000/3.1/manual/forms/widgets/image.html">image</a></li>
<li><a href="http://localhost:8000/3.1/manual/forms/widgets/image_button.html">image_button</a></li>
<li><a href="http://localhost:8000/3.1/manual/forms/widgets/label.html">label</a></li>
<li><a href="http://localhost:8000/3.1/manual/forms/widgets/rating_scale.html">rating_scale</a></li>
<li><a href="http://localhost:8000/3.1/manual/forms/widgets/text_input.html">text_input</a></li>
</ul></li>
</ul></li>
<li><a href="http://localhost:8000/3.1/manual/variables.html">Variables and if statements</a></li>
<li><a href="http://localhost:8000/3.1/manual/logging.html">Data logging</a></li>
<li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Using Python<b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="http://localhost:8000/3.1/manual/python/about.html">Python in OpenSesame</a></li>
<li><a href="http://localhost:8000/3.1/manual/python/common.html">Common functions</a></li>
<li><a href="http://localhost:8000/3.1/manual/python/var.html">Variables</a></li>
<li><a href="http://localhost:8000/3.1/manual/python/pool.html">File pool</a></li>
<li><a href="http://localhost:8000/3.1/manual/python/items.html">Items</a></li>
<li><a href="http://localhost:8000/3.1/manual/python/responses.html">Response history</a></li>
<li><a href="http://localhost:8000/3.1/manual/python/clock.html">Clock</a></li>
<li><a href="http://localhost:8000/3.1/manual/python/canvas.html">Canvas</a></li>
<li><a href="http://localhost:8000/3.1/manual/python/keyboard.html">Keyboard</a></li>
<li><a href="http://localhost:8000/3.1/manual/python/log.html">Log</a></li>
<li><a href="http://localhost:8000/3.1/manual/python/mouse.html">Mouse</a></li>
<li><a href="http://localhost:8000/3.1/manual/python/sampler.html">Sampler</a></li>
</ul></li>
<li><hr /></li>
<li class="cogsci-menuitem-header">Advanced</li>
<li><a href="http://localhost:8000/3.1/manual/prepare-run.html">The prepare-run strategy</a></li>
<li><a href="http://localhost:8000/3.1/manual/counterbalancing.html">Counterbalancing</a></li>
<li><a href="http://localhost:8000/3.1/manual/osf.html">OSF Integration</a></li>
<li><a href="http://localhost:8000/3.1/manual/timing.html">Timing</a></li>
<li><a href="http://localhost:8000/3.1/manual/backends.html">Backends</a></li>
<li><a href="http://localhost:8000/3.1/manual/android.html">Running on Android</a></li>
<li><a href="http://localhost:8000/3.1/manual/plugins.html">Installing plugins and extensions</a></li>
<li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Using external devices<b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="http://localhost:8000/3.1/manual/mousetracking.html">Mouse tracking</a></li>
<li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Eye tracking<b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="http://localhost:8000/3.1/manual/eyetracking/pygaze.html">PyGaze</a></li>
<li><a href="http://localhost:8000/3.1/manual/eyetracking/eyelink.html">EyeLink</a></li>
<li><a href="http://localhost:8000/3.1/manual/eyetracking/eyetribe.html">EyeTribe</a></li>
</ul></li>
<li><a href="http://localhost:8000/3.1/manual/devices/vuams.html">Ambulatory Monitoring System (VU-AMS)</a></li>
<li><a href="http://localhost:8000/3.1/manual/devices/emotiv.html">Emotiv EEG</a></li>
<li><a href="http://localhost:8000/3.1/manual/devices/oculusrift.html">Oculus rift</a></li>
<li><a href="http://localhost:8000/3.1/manual/devices/serial.html">Serial port</a></li>
<li><a href="http://localhost:8000/3.1/manual/devices/parallel.html">Parallel port (EEG triggers)</a></li>
<li><a href="http://localhost:8000/3.1/manual/devices/stimsync.html">StimSync</a></li>
</ul></li>
<li><a href="http://localhost:8000/3.1/manual/opensesame-script.html">OpenSesame script</a></li>
<li><hr /></li>
<li><a href="http://localhost:8000/3.1/manual/examples.html">Examples</a></li>
</ul></li>
<li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Other<b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="http://localhost:8000/3.1/publications.html">Publications</a></li>
<li><a href="http://localhost:8000/3.1/team.html">Meet the team!</a></li>
<li><a href="http://localhost:8000/3.1/donate.html">Donate</a></li>
<li><a href="http://localhost:8000/3.1/important-changes-3.html">Important changes in 3.0</a></li>
<li><a href="http://localhost:8000/3.1/visualangle.html">Degrees of visual angle</a></li>
<li><a href="http://localhost:8000/3.1/experimentaldesign.html">Notation for experimental design</a></li>
<li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Release notes<b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="http://localhost:8000/3.1/notes/307.html">3.0.7</a></li>
<li><a href="http://localhost:8000/3.1/notes/306.html">3.0.6</a></li>
<li><a href="http://localhost:8000/3.1/notes/305.html">3.0.5</a></li>
<li><a href="http://localhost:8000/3.1/notes/304.html">3.0.4</a></li>
<li><a href="http://localhost:8000/3.1/notes/303.html">3.0.3</a></li>
<li><a href="http://localhost:8000/3.1/notes/302.html">3.0.2</a></li>
<li><a href="http://localhost:8000/3.1/notes/301.html">3.0.1</a></li>
<li><a href="http://localhost:8000/3.1/notes/300.html">3.0.0</a></li>
<li><a href="http://localhost:8000/3.1/notes/297.html">2.9.7</a></li>
<li><a href="http://localhost:8000/3.1/notes/296.html">2.9.6</a></li>
<li><a href="http://localhost:8000/3.1/notes/295.html">2.9.5</a></li>
<li><a href="http://localhost:8000/3.1/notes/294.html">2.9.4</a></li>
<li><a href="http://localhost:8000/3.1/notes/293.html">2.9.3</a></li>
<li><a href="http://localhost:8000/3.1/notes/292.html">2.9.2</a></li>
<li><a href="http://localhost:8000/3.1/notes/291.html">2.9.1</a></li>
<li><a href="http://localhost:8000/3.1/notes/290.html">2.9.0</a></li>
<li><a href="http://localhost:8000/3.1/notes/283.html">2.8.3</a></li>
<li><a href="http://localhost:8000/3.1/notes/282.html">2.8.2</a></li>
<li><a href="http://localhost:8000/3.1/notes/281.html">2.8.1</a></li>
<li><a href="http://localhost:8000/3.1/notes/280.html">2.8.0</a></li>
<li><a href="http://localhost:8000/3.1/notes/0274.html">0.27.4</a></li>
<li><a href="http://localhost:8000/3.1/notes/0273.html">0.27.3</a></li>
<li><a href="http://localhost:8000/3.1/notes/0272.html">0.27.2</a></li>
<li><a href="http://localhost:8000/3.1/notes/0271.html">0.27.1</a></li>
</ul></li>
</ul></li>
<li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Dev<b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="http://localhost:8000/3.1/dev/howtocontribute.html">How to contribute</a></li>
<li><a href="http://localhost:8000/3.1/dev/fromsource.html">Running from source</a></li>
<li><a href="http://localhost:8000/3.1/dev/fileformat.html">File format (.osexp)</a></li>
<li><a href="http://localhost:8000/3.1/dev/translate.html">Translate</a></li>
<li><a href="http://localhost:8000/3.1/dev/plugin.html">Create a plugin</a></li>
<li><a href="http://localhost:8000/3.1/dev/extension.html">Create an extension</a></li>
</ul></li>