<li><a href="/download.html">Download</a></li>
<li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Tutorials<b class="caret"></b></a>
<ul class="dropdown-menu">
<li class="cogsci-menuitem-header">Main</li>
<li><a href="/tutorials/beginner.html">Beginner tutorial</a></li>
<li><a href="/tutorials/advanced.html">Advanced tutorial</a></li>
<li><a href="/tutorials/video.html">Video tutorials</a></li>
<li><hr /></li>
<li class="cogsci-menuitem-header">Other</li>
<li><a href="https://www.udemy.com/opensesame-the-experiment-building-software/">Udemy course (by Monk Prayogshala)</a></li>
<li><a href="/tutorials/aps.html">APS tutorial</a></li>
<li><a href="/tutorials/capybara.html">Cats, dogs, and capybaras</a></li>
<li><hr /></li>
<li class="cogsci-menuitem-header">Français</li>
<li><a href="/fr/amorcage-categorique.html">Amorçage catégorique</a></li>
<li><a href="/fr/direction-du-regard.html">Direction du regard</a></li>
<li><hr /></li>
<li class="cogsci-menuitem-header">Espagnol</li>
<li><a href="/es/guia-paso-a-paso.html">Guía paso a paso</a></li>
</ul></li>
<li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Manual<b class="caret"></b></a>
<ul class="dropdown-menu">
<li class="cogsci-menuitem-header">Basic</li>
<li><a href="/TODO.html">Using the interface</a></li>
<li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Flow and structure<b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="/TODO.html">Looping and defining indepedent variables</a></li>
<li><a href="/TODO.html">Doing things in sequence</a></li>
<li><a href="/TODO.html">Doing things in parallel</a></li>
<li><a href="/manual/Counterbalancing.html">Counterbalancing</a></li>
<li><a href="/TODO.html">Pseudorandomization</a></li>
</ul></li>
<li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Stimulus presentation<b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="/manual/stimuli/text.html">Text</a></li>
<li><a href="/TODO.html">Visual stimuli</a></li>
<li><a href="/TODO.html">Auditory stimuli</a></li>
<li class="cogsci-menuitem-header">Video</li>
</ul></li>
<li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Response collection<b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="/TODO.html">Keyboard</a></li>
<li><a href="/TODO.html">Mouse</a></li>
<li><a href="/manual/response/joystick.html">Joystick</a></li>
<li><a href="/manual/response/buttonbox.html">Button box</a></li>
<li><a href="/manual/response/srbox.html">SR Box</a></li>
<li><a href="/manual/response/soundrecording.html">Sound recording</a></li>
</ul></li>
<li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Forms<b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="/manual/forms/about.html">About forms</a></li>
<li><a href="/manual/forms/readymade.html">Ready-made forms</a></li>
<li><a href="/manual/forms/custom.html">Custom forms</a></li>
<li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Widgets<b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="/manual/forms/widgets/form.html">form</a></li>
<li><hr /></li>
<li><a href="/manual/forms/widgets/button.html">button</a></li>
<li><a href="/manual/forms/widgets/checkbox.html">checkbox</a></li>
<li><a href="/manual/forms/widgets/image.html">image</a></li>
<li><a href="/manual/forms/widgets/image_button.html">image_button</a></li>
<li><a href="/manual/forms/widgets/label.html">label</a></li>
<li><a href="/manual/forms/widgets/rating_scale.html">rating_scale</a></li>
<li><a href="/manual/forms/widgets/text_input.html">text_input</a></li>
</ul></li>
<li><a href="/manual/forms/variables.html">Form variables</a></li>
<li><a href="/manual/forms/performance.html">Performance issues</a></li>
</ul></li>
<li><a href="/TODO.html">Variables</a></li>
<li><a href="/TODO.html">If statements</a></li>
<li><a href="/manual/logging.html">Data logging</a></li>
<li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Using Python<b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="/manual/python/about.html">Python in OpenSesame</a></li>
<li><a href="/manual/python/common.html">Common functions</a></li>
<li><a href="/manual/python/var.html">Variables</a></li>
<li><a href="/manual/python/pool.html">File pool</a></li>
<li><a href="/manual/python/items.html">Items</a></li>
<li><a href="/manual/python/responses.html">Response history</a></li>
<li><a href="/manual/python/clock.html">Clock</a></li>
<li><a href="/manual/python/canvas.html">Canvas</a></li>
<li><a href="/manual/python/keyboard.html">Keyboard</a></li>
<li><a href="/manual/python/log.html">Log</a></li>
<li><a href="/manual/python/mouse.html">Mouse</a></li>
<li><a href="/manual/python/sampler.html">Sampler</a></li>
</ul></li>
<li><hr /></li>
<li class="cogsci-menuitem-header">Advanced</li>
<li><a href="/manual/timing.html">Timing</a></li>
<li><a href="/manual/backends.html">Backends</a></li>
<li><a href="/manual/android.html">Running on Android</a></li>
<li><a href="/manual/plugins.html">Installing plugins and extensions</a></li>
<li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Using external devices<b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="/manual/mousetracking.html">Mouse tracking</a></li>
<li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Eye tracking<b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="/manual/eyetracking/pygaze.html">PyGaze</a></li>
<li><a href="/manual/eyetracking/eyelink.html">EyeLink</a></li>
<li><a href="/manual/eyetracking/eyetribe.html">EyeTribe</a></li>
</ul></li>
<li><a href="/manual/devices/vuams.html">Ambulatory Monitoring System (VU-AMS)</a></li>
<li><a href="/manual/devices/emotiv.html">Emotiv EEG</a></li>
<li><a href="/manual/devices/oculusrift.html">Oculus rift</a></li>
<li><a href="/manual/devices/serial.html">Serial port</a></li>
<li><a href="/manual/devices/parallel.html">Parallel port (EEG triggers)</a></li>
<li><a href="/manual/devices/stimsync.html">StimSync</a></li>
</ul></li>
<li><hr /></li>
<li><a href="/manual/examples.html">Examples</a></li>
</ul></li>
<li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Other<b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="/other/publications.html">Publications</a></li>
<li><a href="/other/team.html">Meet the team!</a></li>
<li><a href="/TODO.html">Donate</a></li>
<li><a href="/other/important-changes-3.html">Important changes in 3.0</a></li>
<li><a href="/TODO.html">Release notes</a></li>
<li><a href="/other/visualangle.html">Degrees of visual angle</a></li>
<li><a href="/other/experimentaldesign.html">Notation for experimental design</a></li>
</ul></li>
<li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Dev<b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="/dev/howtocontribute.html">How to contribute</a></li>
<li><a href="/dev/fromsource.html">Running for source</a></li>
<li><a href="/dev/fileformat.html">File format (.osexp)</a></li>
<li><a href="/dev/translate.html">Translate</a></li>
<li><a href="/dev/plugin.html">Create a plugin</a></li>
<li><a href="/dev/extension.html">Create an extension</a></li>
</ul></li>