<div class='cogsci-social'>
<a class='cogsci-twitter' href="https://twitter.com/intent/follow?screen_name=cogscinl"><img src="{{ SITEURL }}/theme/img/twitter.png" /></a>
<a class='cogsci-facebook' href="https://www.facebook.com/cognitivescience/"><img src="{{ SITEURL }}/theme/img/facebook.png" /></a>
<a href="https://www.youtube.com/channel/UC6HfeAa0vWeSWS6IcNAjZ2A"><img src="{{ SITEURL }}/theme/img/youtube.png" /></a>
</div>
<a href="https://www.buymeacoffee.com/cogsci">
<img style="max-width:192px; margin-top: -8px;" src="https://img.buymeacoffee.com/button-api/?text=Buy us a coffee!&emoji=&slug=cogsci&button_colour=FFDD00&font_colour=000000&font_family=Cookie&outline_colour=000000&coffee_colour=ffffff">
</a>
