<span class="cogsci-sidebar-header">Supported by</span>
<a href='http://www.sr-research.com/'>
	<img src='{{ SITEURL }}/theme/img/sr-research.png' />
</a>

<span class="cogsci-sidebar-header">Supported by</span>
<a href='http://www.escop.eu/'>
	<img src='{{ SITEURL }}/theme/img/escop.png' />
</a>

<span class="cogsci-sidebar-header">Advertisement</span>

<a href='https://www.packtpub.com/application-development/functional-programming-python-video'>
	<img src='{{ SITEURL }}/theme/img/packt-functional.png' />
</a>
