<span class="cogsci-sidebar-first-header">OpenSesame videos</span>

<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/videoseries?list=PLR-r0edywujfPLKZi7VQtFu0QY3Bzkzt4" allowfullscreen></iframe>
</div>

<span class="cogsci-sidebar-header">Python videos</span>

<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/videoseries?list=PLR-r0edywujd8D-R2Kue1C_wYEK_4Ii71" allowfullscreen></iframe>
</div>
