<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="author" content="Sebastiaan Mathot" />
	<meta name="keywords" content="OpenSesame, Psychology, Python, Experiment builder, Open Source, Cross-platform" />
	<meta name="description" content="Documentation for OpenSesame experiment builder" />
	<title>{{ page.title }} - OpenSesame documentation area</title>
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	{% include stylesheets %}
	{% include google %}
	{% include flattr %}
</head>

<body id='inpage'>

{% include facebook %}
{% include poll %}

<table width='100%' id='maincontainer'>
	<tr>
		<td colspan=2>
			<div id='toppane'>
				<div id='header'>{% include header %}</div>
			</div>
		</td>
	</tr>
	<tr>
		<td id="lefttd">
			<div id='leftpane'>
				<div id='search'>{% include search %}</div>
				<div id='menu'>{% include menu %}</div>
				<div id='social'>{% include social %}</div>
				<div id='sponsor'>{% include sponsor %}</div>
			</div>
		</td>
		<td>
			<div id='rightpane'>
				{% if site.notifications == true %}
				<div id='notification'>{% include notification %}</div>
				{% endif %}
				<div id='pdf-link'>{% include pdf-link %}</div>
				<div id='content'>{% include content %}</div>
			</div>
		</td>
	</tr>
	<tr>
		<td colspan=2>
			<div id='bottompane'>
				<div id='footer'>{% include footer %}</div>
			</div>
		</td>
	</tr>
</table>

</body>
</html>
