<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8" />
	{% if page.author %}
	<meta name="author" content="{{ page.author }}" />
	{% else %}
	<meta name="author" content="Sebastiaan Mathôt" />
	{% endif %}
	<meta name="keywords" content="OpenSesame, Psychology, Python, Experiment builder, Open Source, Cross-platform" />
	<meta name="description" content="Documentation for OpenSesame experiment builder" />
	<meta name=viewport content="width=device-width, initial-scale=1">
	<title>{{ page.title }} - OpenSesame documentation area</title>
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	{% include stylesheets %}
</head>

<body id='mobile'>
	<div id='header-mobile'>{% include header-mobile %}</div>
	<div id='content'>{% include content %}</div>
	<div id='site-map'>{% include sitemap-mobile %}</div>
	<div id='footer'>{% include footer-mobile %}</div>
</body>
</html>
