<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	{% if page.author %}
	<meta name="author" content="{{ page.author }}" />
	{% else %}
	<meta name="author" content="Sebastiaan Mathôt" />
	{% endif %}	<meta name="keywords" content="OpenSesame, Psychology, Python, Experiment builder, Open Source, Cross-platform" />
	<meta name="description" content="Documentation for OpenSesame experiment builder" />
	
	<meta name="citation_language" content="en" />
	<meta name="citation_doi" content="10.3758/s13428-011-0168-7" />
	<meta name="citation_abstract_html_url" content="http://link.springer.com/article/10.3758%2Fs13428-011-0168-7" />
	<meta name="citation_pdf_url" content="http://link.springer.com/content/pdf/10.3758%2Fs13428-011-0168-7.pdf" />
	<meta name="citation_title" content="OpenSesame: An open-source graphical experiment builder for the social sciences" />
	<meta name="citation_authors" content="Mathôt, S.;Schreij, D.;Theeuwes, J." />	
	<meta name="citation_date" content="2012" />
	<meta name="citation_journal_title" content="Behavior Research Methods" />
	<meta name="citation_volume" content="44" />
	<meta name="citation_issue" content="2" />
	<meta name="citation_firstpage" content="314" />
	<meta name="citation_lastpage" content="324" />	
	
	<title>{{ page.title }} - OpenSesame documentation area</title>
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	{% include stylesheets %}
	{% include google %}
	{% include flattr %}
</head>

<body id='inpage'>

{% include facebook %}
{% include poll %}

<table width='100%' id='maincontainer'>
	<tr>
		<td colspan=2>
			<div id='toppane'>
				<div id='header'>{% include header %}</div>
			</div>
		</td>
	</tr>
	<tr>
		<td id="lefttd">
			<div id='leftpane'>
				<div id='social'>{% include social %}</div>
				<div id='search'>{% include search %}</div>
				<div id='menu'>{% include menu %}</div>
				<div id='sponsor'>{% include sponsor %}</div>
			</div>
		</td>
		<td>
			<div id='rightpane'>
				{% if site.notifications == true %}
				<div id='notification'>{% include notification %}</div>
				{% endif %}
				<div id='pdf-link'>{% include pdf-link %}</div>
				<div id='content'>{% include content %}</div>
			</div>
		</td>
	</tr>
	<tr>
		<td colspan=2>
			<div id='bottompane'>
				<div id='site-map'>{% include sitemap %}</div>
				<div id='footer'>{% include footer %}</div>
			</div>
		</td>
	</tr>
</table>

</body>
</html>
