/** Spanish **/

#menu .lang-es,
#index .lang-es {
	padding-left: 24px;
	background: url('/img/flags/es.png') no-repeat center left;
}

#sitemap .lang-es a {
	background: url('/img/flags/es.png') no-repeat top right;
	padding-right: 24px;
}

#content #lang-es  {
	background: url('/img/flags/es.png') no-repeat center right;
	padding-right: 24px;
	display: inline-block;		
}

/** French **/

#menu .lang-fr,
#index .lang-fr {
	padding-left: 24px;
	background: url('/img/flags/fr.png') no-repeat center left;
}

#sitemap .lang-fr a {
	background: url('/img/flags/fr.png') no-repeat top right;
	padding-right: 24px;
}

#content #lang-fr  {
	background: url('/img/flags/fr.png') no-repeat center right;
	padding-right: 24px;
	display: inline-block;		
}

/** English **/

#content #lang-en  {
	background: url('/img/flags/gb.png') no-repeat center right;
	padding-right: 24px;
	display: inline-block;	
}
