#bottompane #sitemap {
	border-top: solid 1px #888a85;
	margin-top: 8px;
}

#bottompane table#sitemap {
	font-size: 0.7em;
	width: 100%;
}

#bottompane #sitemap a {
	border: none;
}

#sitemap .level-0 {
	font-weight: bold;
}

#bottompane #sitemap .level-1 {
}

#sitemap .td {
	margin-top: 4px;
	padding-right: 4px;
	width: 16.67%;
	text-indent: -8px;
	padding: 0px 8px 8px 8px;
	vertical-align: top;
}

#bottompane #sitemap .lang-fr a {
	background: url('/img/flags/fr.png') no-repeat top right;
	padding-right: 24px;
}

#content #sitemap .highlight {
	margin-left: 16px!important;
}

#content #sitemap table {
	border-spacing: 4px;
}

#content #sitemap td {
	border: none;
	background-color: @gray1;
}
