#socialbox {
	margin-bottom: 8px;
	border-bottom: dotted 1px #d3d7fc;
	padding-bottom: 4px;
	padding-top: 2px;
}

#social .fb-like {
	height: 28px;
}

#socialbox {
}

#socialbox .addthis_toolbox {
	margin-bottom: 4px;
}

#at3win a,
#at20mc a,
#socialbox a {
	border: None;
}

#social .fb-like {
	height: 28px;
}
