#socialbox {
	border: solid 1px #d3d7cf;
	padding: 6px 6px 0px 6px;
	border-radius: 4px;
	background: #d3d7cf;	
}

#social #socialheader {
	margin-top: 16px;
	display: block;
	font-size: 0.7em;
	color: #555753;
	text-align: center;		
}

#social .fb-like {
	height: 28px;
}
