#version {
	padding: 2px 2px 2px 6px;
	background-color: @gray1;
	margin: 0px 0px 0px 0px;
	font-size: 0.8em;
	border-bottom: solid 2px @gray4;
}

#version select {
	border-radius: 2px;
	border: solid 1px @gray5;
	background-color: @white;
	font-size: 1em;
}

#version #warning {
	display: inline-block;
	color: @red3;
	font-style: italic;
}
