#version {
	background-color: @gray1;
	font-size: 0.9em;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

#version #select-box {
	padding: 4px;
}

#version select {
	border-radius: 2px;
	border: solid 1px @gray5;
	background-color: @white;
	font-size: 0.9em;
}

#version #warning {
	padding: 4px;
	display: block;
	color: @gray5;
	font-weight: bold;
	text-align: center;
	background-color: @yellow1;
}
